body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.header {
    min-height: 550px;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
   
}

.header-top {
    min-height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
    margin-right: 100px;
}

.header-text,
.sign-up-text,
.footer {
    color: #e5e7eb;
    font-size: 18px;
}

ul.header-text {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0; 
    text-wrap: nowrap;  
}

.header-bottom {
    height: 440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px 50px 150px;
}

.header-left {
    flex: 0 1 400px;
    margin-right: 70px;
    min-width: 300px;
}


h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: -10px 0px;
}

button.sign-up-button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 900;
    height: 40px;
    width: 130px;
    border-radius: 7px;
    border: none;
}

.header-right {
    flex: 0 4 100%;
    height: 200px;
    max-width: 400px;
    min-width: 100px;
}

.info {
    height: 450px;
}

.info-statement {
    color: #1f2937;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
}

.info-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.info-photo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
}

.info-photo {
    height: 170px;
    width: 170px;
    border-radius: 10px;
    margin-bottom: -10px;
}

.info-text {
    font-size: 18px;
    color: #1f2937;
    text-align: center;
    text-wrap: wrap;
}

.quote {
    background-color: #efe7eb;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 300;
    max-width: 700px;
}

.quote-author {
    font-size: 22px;
    font-weight: 900;
    text-align: right;
    text-wrap: nowrap;
    margin-top: -10px;
    margin-left: 300px;
}

.sign-up {
    min-height: 175px;
    justify-content: center;
    align-items: center;
    padding: 50px 150px;
}

.sign-up-box {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 7px;
    padding: 25px 0px 40px 80px;
    min-width: 300px
}

.call-to-action {
    color: #f9faf8;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: -15px;

}

.sign-up-text {
    text-wrap: wrap;
    margin-right: 80px;
}

button.sign-up-border {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 900;
    height: 40px;
    width: 130px;
    border-radius: 7px;
    border: solid #f9faf8;
    flex-shrink: 0;
    margin-right: 80px;
}

.footer {
    height: 75px;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
}