body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
}

/*elements*/

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 900;
    border-radius: 7px;
    flex-shrink: 0;
}

button:hover {
    background-color: #455e81;
}

p, a {
    color: #e5e7eb;
    font-size: 18px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #3882f6;
}


h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: -10px 0px;
}

/*header section*/

.header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container {  /*as in the quote
    section, this container was not 
    entirely necessary, but I like the
    way it constrains the maximum width of
    the header contents*/
    margin: 10px 7% 50px 7%;
    max-width: 1000px; 
}

.header-top {  /*contains logo and links*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    max-width: 1000px;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
    text-wrap: nowrap;
    flex: 1 1 270px;

}

.header-links {
    list-style: none;
    display: flex;
    gap: 2em;
    margin: 0;
    padding: 0; 
}

li {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.header-bottom {  
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 100px 0px;
}

.header-bottom-left {
    flex: 1 4 400px;
    margin-bottom: -70px;
}

button.fake-button {
    height: 40px;
    width: 150px;
    border: none;
}

.header-bottom-right {
    max-height: 250px;
    max-width: 333px;
    flex: 1 5 100%;
    margin-bottom: -70px;
}

/*info section*/

.info {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.info-statement {
    color: #1f2937;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
}

.info-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.info-photo-text { /*I am a mini
    container holding together each photo and
    its caption*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
}

.info-photo {
    height: 170px;
    width: 170px;
    border-radius: 10px;
    margin-bottom: -10px;
}

.info-text {
    font-size: 18px;
    color: #1f2937;
    text-align: center;
    text-wrap: wrap;
}

/*quote section*/

.quote {
    background-color: #efe7eb;
    display: flex;
    justify-content: center;
    padding: 20px 7% 50px 7%;
}

.quote-container { /*this wasn't strictly 
    necessary but it constrained the growth 
    of the quote horizontally versus just 
    padding the quote section*/
    max-width: 600px;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 300; 
}

.quote-author {
    font-size: 22px;
    font-weight: 900;
    color: #1f2937;
    text-align: right;
    margin: -10px 50px 0px 0px;
    text-wrap: nowrap;
}

/*action section*/

.action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-container {
    background-color: #3882f6;
    display: flex;
    margin: 50px 7%;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    border-radius: 7px;
    padding: 40px 7% 80px 7%;
    max-width: 700px;
}

.action-left {
    flex: 2 1 400px;
    flex-wrap: wrap;
    max-width: 550px;
    margin-bottom: -40px;
}

.call-to-action {
    color: #f9faf8;
    font-size: 20px;
    font-weight: 700;
    margin: 0px 0px -10px 0px;
}

.action a {
    font-weight: 500;
    color: #2f4768;
}   

.action a:hover {
    color:  #455e81;
}

button.action-button {
    border: solid #f9faf8;
    padding: .8em 1em;
    flex: 1 1 100px;
    margin-bottom: -40px;
}

/*footer*/

.footer {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}